body {
    text-align: center;
}

#left_arrow, #right_arrow {
    margin-top: 160px;
    float: left;
    position: fixed;
}

#right_arrow {
    margin-left: 820px;
}

#left, #right {
    background-image: url('img/other/side_view.png');
    height: 456px;
    width: 240px;
}

.all {
    margin: auto;
    text-align: center;
}

.button_center, .win_div {
    margin: 0 auto;
    text-align:center;
}

.game {
    position: fixed;
    margin-left: 125px;
    /*height: 440px;*/
    width: 660px;
    text-align: center;
    border: 8px black solid;
    background-color: #BCBCBC;
}

.module {
    width: 200px;
    height: 200px;
    float:left;
    margin: 10px;
}

.first_Line, .second_Line {
    width: 100%; /* 660px */
    height: 100%;  /* 220px */
}

.timer {
    background-image: url('img/timer/timer_error_0.png');
}
.timer h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
    color: red;

    margin: 47% auto;
}

.fils {
    background-image: url('img/fils/fils_fil_0.png');
}

.button {
    background-image: url('img/button/button_button_clear.png');
}
#button_h {
    font-size: 40px;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;

    margin: -100px auto auto -50px;
}

.symboles {
    width: 200px;
    height: 200px;
    background-image: url('img/symboles/symbole_none.png');
}

.simon {
    width: 200px;
    height: 200px;
    background-image: url('img/simon/simon_default.png');
}

.witf {
    width: 200px;
    height: 200px;
    background-image: url('img/witf/witf_default.png');
}

.memory {
    width: 200px;
    height: 200px;
    background-image: url('img/memory/memory_blank.png');
}

.maze {
    width: 200px;
    height: 200px;
    background-image: url('img/maze/maze_default.png');
}

.none {
    background-image: url('img/other/none_module.png');
}

.test {
    background-image: url('img/side/indicator/indicator_default.png');
    width: 186px;
    height: 71px;
}
